@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=Gudea&display=swap");

body {
    font-family: "Gudea";
    font-size: 1em;
    background-color: hsl(181, 44%, 7%);
}


// .main-content {
// }
.view {
    display: none;
}
footer {
    display: none;
}